# npm/yarn
node_modules/
# Include lockfile?
package-lock.json
yarn.lock

# Editor files
.idea/
.vscode/

# Sensitive data/configuration
passwords.json
botConfig.json
# Is this sensitive?
info/

website/
