# npm/yarn
node_modules/
# Include lockfile?
package-lock.json
yarn.lock

# Editor files
.idea/
.vscode/
_vimrc_local.vim

# Sensitive data/configuration
passwords.json
botConfig.json

website/
*.log
